<%- include('../partials/_header.ejs') -%>

<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci sunt minima dignissimos ad fugit vel eum voluptas
    officiis commodi expedita!</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci sunt minima dignissimos ad fugit vel eum voluptas
    officiis commodi expedita!</p>

<%- include('../partials/_footer.ejs') -%>