<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demon EJS</title>
</head>
<body>
    <h1>Home</h1>

    <p>Nous somme le : <%= dateDuJour %></p><!-- ejs va convertir ça et il va voir si il peut le faire -->
</body>
</html>